
//<div class="nav-button-holder">
//    <div class="nav-button vis-m"><span></span><span></span><span></span></div>
//</div>
//<div class="show-share isShare">Share</div>
//<div class="nav-holder">
//    <nav>
//        <ul>
//            <li><a href="index.html">Featured Projects</a>
//            <ul>
//                
//                    <li><a href="ann.html">Ann Taylor</a></li>
//                    <li><a href="juisi.html">JUISI</a></li><br>
//                    <li><a href="loft.html">LOFT</a></li>
//                    <li>
//                        <a href="lougrey.html">Lou & Grey</a>
//                    
//                    </li>
//                    <li>
//                        <a href="goattape.html">Goat Tape</a>
//                        
//                    </li>
//                    <li><a href="niucoco.html">Niucoco</a></li>
//                <li><a href="onetwentyone.html">121 Group</a></li>
//                <li><a href="offsite.html">Offsite</a></li>
//                <li><a href="sko.html">Sko There</a></li>
//                <li><a href="rvs.html">RVS Eyewear</a></li>
//                </ul>
//            
//            </li>
//            <li><a href="#">Selected Works</a>
//            <ul>
//                <li><a href="kfilms.html">Kunhardt Films</a></li>
//                    <li><a href="festy.html">Festy</a></li>
//                    <li><a href="monocleorder.html">Monocle Order</a></li>
//                <li><a href="gazprom.html">Gazprom Int.</a></li>
//                  <li><a href="cavana.html">Cavana Jewels</a></li>
//                <li><a href="strengthinnumbers.html">SiNC App</a></li>  
//                </ul>
//            
//            </li>
//            <li><a href="shopify.html">Shopify</a></li>
//            <li><a href="workspace.html">Workspace Williamsburg</a></li>
//            <li><a href="about.html">About us </a>
//            </li>
//            <li><a href="about-1.html">Services </a>
//            </li>
//            <li><a href="contact2.html">Contact</a></li>
//            
//          
//        </ul>
//    </nav>
//</div>
//<!--navigation end -->
//