// Menu collapsed
header#header.alt
	h1
		a(href="index.html").
			Involved Community Network
	nav
		a(href="#menu").
			Menu



// Menu expanded
nav#menu
	.inner
		h2.
			Menu
		ul.links
			li
				a(href="#banner").
					Welcome
			li
				a(href="#one").
					What we do
			li
				a(href="#two").
					Submit a proposal
			li
				a(href="#three").
					Get involved
			li
				a(href="#").
					Log in
			li
				a(href="#").
					Sign Up
		
		a.close(href="#").
			Close
	