//- metadata code block
include ./includes/head

body
	// .loader
	.loader
		i(class="fa fa-refresh fa-spin")
	// /.loader

	// ================= main start ================ 
	#main
		// =============== header =============== 
		header
			// .header-inner 
			.header-inner
				// .logo-holder
				.logo-holder
					a(href="index.html")
						img(src='img/TVG_LOGO_NEW_BLACK.svg' alt='')
				// /.logo-holder
				// navigation
				include ./includes/navigation
				// / navigation
			// /.header-inner


		// =============== wrapper =============== 
		#wrapper
			// =============== Content holder  =============== 
			.content-holder.elem.scale-bg2.transition3
				// .fixed-title
				.fixed-title
					span Works
				// /.fixed-title

				// =============== Content =============== 
				.content.full-height
					.resize-carousel-holder
						#gallery_horizontal.gallery_horizontal
							// ann_taylor - gallery ttem
							.horizontal_item
								.overlay
								img(src='img/ann_taylor/ann-cs-background.jpg' alt='')
								.port-desc-holder
									.port-desc
										.grid-item
											h3
												a(href="ann.html") $450M e-commerce giant gets a redesign
							// / gallery item

							// juisi - gallery ttem
							.horizontal_item
								.overlay
								img(src='img/juisi/juisi-cs-background-1.jpg' alt='')
								.port-desc-holder
									.port-desc
										.grid-item
											h3
												a(href="juisi.html") The web launch of a national cold-pressed juice brand
							// / gallery item

							// rvs - gallery ttem
							.horizontal_item
								.overlay
								img(src='img/rvs/rvs-main-bg.jpg' alt='')
								.port-desc-holder
									.port-desc
										.grid-item
											h3
												a(href="rvs.html") View Case Study
							// / gallery item

							// loft - gallery ttem
							.horizontal_item
								.overlay
								img(src='img/loft/loft-cs-background.jpg' alt='')
								.port-desc-holder
									.port-desc
										.grid-item
											h3
												a(href="loft.html") View Case Study
							// / gallery item

							// sko - gallery ttem
							.horizontal_item
								.overlay
								img(src='img/sko/sko-cs-background.jpg' alt='')
								.port-desc-holder
									.port-desc
										.grid-item
											h3
												a(href="sko.html") View Case Study
							// / gallery item

							// goat - gallery ttem
							.horizontal_item
								.overlay
								img(src='img/goat/goat-cs-background.jpg' alt='')
								.port-desc-holder
									.port-desc
										.grid-item
											h3
												a(href="goat.html") View Case Study
							// / gallery item

							// niucoco - gallery ttem
							.horizontal_item
								.overlay
								img(src='img/niucoco/niucoco-cs-background.jpg' alt='')
								.port-desc-holder
									.port-desc
										.grid-item
											h3
												a(href="niucoco.html") View Case Study
							// / gallery item

							// lougrey - gallery ttem
							.horizontal_item
								.overlay
								img(src='img/lougrey/lougrey-cs-background.jpg' alt='')
								.port-desc-holder
									.port-desc
										.grid-item
											h3
												a(href="lougrey.html") View Case Study
							// / gallery item

							// 121 - gallery ttem
							.horizontal_item
								.overlay
								img(src='img/121/121-cs-background.jpg' alt='')
								.port-desc-holder
									.port-desc
										.grid-item
											h3
												a(href="121.html") View Case Study
							// / gallery item

							// offsite - gallery ttem
							.horizontal_item
								.overlay
								img(src='img/offsite/offsite-cs-background.jpg' alt='')
								.port-desc-holder
									.port-desc
										.grid-item
											h3
												a(href="offsite.html") View Case Study
							// / gallery item

							// feast - gallery ttem
							.horizontal_item
								.overlay
								img(src='img/feast/feast-cs-background.jpg' alt='')
								.port-desc-holder
									.port-desc
										.grid-item
											h3
												a(href="feast.html") View Case Study
							// / gallery item

						// customNavigation
						.customNavigation
							a(class="next-slide transition")
								i(class="fa fa-angle-right")
							a(class="prev-slide transition")
								i(class="fa fa-angle-left")
						// /.customNavigation
				// =============== / Content ===============
				// Share container
				.share-container.isShare(data-share="['facebook','pinterest','googleplus','twitter','linkedin']")
			// =============== / content holder ===============
		// =============== / wrapper ===============
		.left-decor
		.right-decor

		// =============== footer ===============
		include ./includes/footer
		// =============== / footer ===============


	// =============== scripts  ===============
	!= js()

















